<form>
    <fieldset>
        <legend>Add Message</legend>
        <textarea name="entry" cols="50" rows="5" id="text"></textarea>
        <input type="submit" value="tweet" name="submit" id="submit"/>
    </fieldset>
</form>